<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Votre equipe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="MyCss.css">
</head>

<body>
    <div>
        <fieldset>
            <legend>Equipe</legend>
            <br>
            <form action="#" th:action="@{/new-team(tournois_id=${tournoi.id})}" th:object="${team}" method="post" class="FormDisplay">
                <div class="DivDisplay">
                    <input type="hidden" th:if="*{id != '' and id != null}" th:field="*{id}" th:value="*{id}">
                    <label class="LabelDisplayCenter">Nom de team: 
                        <input type="text" th:field="*{teamName}" th:value="*{teamName}" />
                    </label>
                    <span th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}" class="Errors"></span>
                </div>
                <br>    
                <div th:each="joueur, row : *{joueurs}">
                    <fieldset>
                        <legend>Joueur 
                            <span th:text="${row.index} + 1 "></span>
                        </legend>

                            <div>
                                <label class="LabelDisplayLeft" id="Block">Nom: 
                                    <input type="text" th:field="*{joueurs[__${row.index}__].name}" th:value="*{joueurs[__${row.index}__].name}" />
                                    <span th:if="${#fields.hasErrors('joueurs[' + row.index +'].name')}" th:errors="*{joueurs[__${row.index}__].name}" class="Errors"></span>
                                </label>
                            </div>
                            <div>    
                                <label class="LabelDisplayLeft" id="Block">Pseudo: 
                                    <input type="text" th:field="*{joueurs[__${row.index}__].pseudo}" th:value="*{joueurs[__${row.index}__].pseudo}" />
                                    <span th:if="${#fields.hasErrors('joueurs[' + row.index +'].pseudo')}" th:errors="*{joueurs[__${row.index}__].pseudo}" class="Errors"></span>
                                </label>
                            </div>
                            <div>    
                                <label class="LabelDisplayLeft" id="Block">mail: 
                                    <input type="text" th:field="*{joueurs[__${row.index}__].mail}" th:value="*{joueurs[__${row.index}__].mail}" />
                                    <span th:if="${#fields.hasErrors('joueurs[' + row.index +'].mail')}" th:errors="*{joueurs[__${row.index}__].mail}" class="Errors"></span>
                                </label>
                            </div>
                    </fieldset>
                    <br>
                </div>
                <input type="submit" value="Submit" />
            </form>
            <br>
            <div class="Position">
                <button><a th:href="@{/page-tournois(tournois_id=${tournoi.id})}"> retour</a></button>
            </div>
        </fieldset>
    </div>        
</body>
</html>