<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>page du tournoi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <link rel="stylesheet" href="MyCss.css">
</head>

<body>
	<div>
		<fieldset>
			<legend>Tournoi 
				<span th:text="${tournois.name}" > </span>
			</legend>
			<p>Description:
				<span th:text="${tournois.description}" > </span>
			</p>
			<br>
			<div class="Position" id="PositionDiv">
				<label>
					<button><a th:href="@{/new-team(tournois_id=${tournois.id})}"> ajouter une team</a></button>
					<button><a href="/">retour</a></button>
				</label>
			</div>
			<br>
			<fieldset>		
				<legend>Les teams</legend>
				<form>
					<table >
        				<tr th:each="team : ${tournois.teams}">
            				<td>
            					<a th:href="@{/team(team_id=${team.id}, tournois_id=${tournois.id})}" th:text="${team.teamName}"></a>
            				</td>
            				<td>
                				<p th:each=" joueur : ${team.joueurs}">
									<span th:text="${joueur.name}"> </span></p>
            				</td>
        				</tr>
					</table>
				</form>
			</fieldset>
		</fieldset>
	</div>				
</body>
</html>