<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Votre equipe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" href="MyCss.css">
</head>

<body>
    <div>
        <fieldset>
            <legend>Equipe</legend>
            <br>
            <form class="FormDisplay">
                <div class="DivDisplay">
                    <label class="LabelDisplayCenter">Nom de team: 
                        <span th:text="*{team.teamName}" th:value="*{team.teamName}"></span>
                    </label>
                </div>
                <br>    
                <div th:each="joueur, row : *{team.joueurs}">
                    <fieldset>
                        <legend>Joueur 
                            <span th:text="${row.index} + 1 "></span> 
                        </legend>
                        <form>
                            <div>
                                <label class="LabelDisplayLeft" id="Block">Nom: 
                                    <span th:text="*{team.joueurs[__${row.index}__].name}"></span>
                                </label>
                            </div>
                            <div>    
                                <label class="LabelDisplayLeft" id="Block">Pseudo: 
                                    <span th:text="*{team.joueurs[__${row.index}__].pseudo}"></span>
                                </label>
                            </div>
                            <div>    
                                <label class="LabelDisplayLeft" id="Block">mail: 
                                    <span th:text="*{team.joueurs[__${row.index}__].mail}"></span>
                                </label>
                            </div>
                        </form>
                    </fieldset>
                </div>
                <br>                    
                <div class="Position">
                    <button><a th:href="@{edit-team(team_id=${team.id}, tournois_id=${tournois_id})}">edit team</a></button>
                    <br>
                    <br>
                    <button><a th:href="@{/page-tournois(tournois_id=${tournois_id})}"> Page tournoi</a></button>
                    <br>
                    <br>
                    <button><a href="/">Page des tournois</a></button>
                    <br> 
                    <br>   
                    <button><a th:href="@{pdf(team_id=${team.id}, tournois_id=${tournois_id})}">Edit pdf</a></button>
                </div>
            </form>
        </fieldset>
    </div>            
</body>
</html>