<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>page du tournoi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="MyCss.css">
</head>

<body>
	<div>
		<fieldset>
			<legend>Page de tournois </legend>
			<br>
			<div class="Position" id="PositionDiv">
				<label>
					<button><a href="new-tournois"> Ajoutez un tournoi</a></button>
				</label>
			</div>		
			<br>
			<fieldset>
				<legend>Les tournois</legend>
				<form>
					<table>
    					<tr th:each="tournoi : ${tournois}">
							<td>
								<h3>
									<span th:text="${tournoi.name}" th:remove="tag">nom du tournoi</span><br>
								</h3>
								<p>Description: <small th:text="${tournoi.description}" >description du tournoi</small></p>
								<p>Nombre de joueur par équipe: <small th:text="${tournoi.nbJoueur}" >nombre de joueur</small></p>

							</td>
        					<td>
            					<button><a th:href="@{/page-tournois(tournois_id=${tournoi.id})}"> S'inscrire </a></button>
        					</td>
    					</tr>
					</table>
				</form>
			</fieldset>
		</fieldset>
	</div>				
</body>
</html>